   <div class="reservationspageback"></div>
   <%  if  !@reservations.empty? %> 
   
   
   <table class="table table-dark">
<% @reservations.each do |res| %>
  

  <thead>
    <tr>
     
      <th scope="col">Email</th>
      <th scope="col">Locatie</th>
      <th scope="col">Numar rezervare</th>
       <th scope="col">Sosire</th>
        <th scope="col">Plecare</th>
        <th scope="col">Numar Nopti</th>
        <th scope="col">Pret Total</th>
         
      
    </tr>
  </thead>
  <tbody>
    <tr>
     
      <td> <%= res.user.email %></td>
      <td> <%= res.trip.locatie %></td>
      <td> <%= res.id %></td>
       <td> <%= res.start_date %></td>
        <td> <%= res.end_date %></td>
        <td> <%= res.nrzile %></td>
        <td> <%= res.totalprice %></td>
        
    </tr>
  
   
  </tbody>

       
      
       
   
<% end %>
</table>

<% else %>
<div style="background-color:rgba(255,255,255,0.7)"> 
    <h2> Nu ati efectuat nicio rezervare pana in acest moment!</h2>
</div>
    
<% end %> 



